<script type="text/javascript" src="/javascripts/admin/pages.js">
</script>
<div class="content">
  <h1>Управление структурой сайта</h1>
  <div class="subcolumns">
    <div class="c66l">
      <%= bind_page(@rootpage) %>
    </div>
    <div class="c33r" style="border-left:1px dashed #d9cfb2;">
      <p>Для изменения выберите страницу слева в дереве</p>
      <p>Для добавления новой страницы - выберите дочернюю или главную</p>
      <p>Для удаления страницы - сначала также выберите страницу и там будет видно:-)</p>
    </div>
  </div>
</div>