<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<title>CSS template</title>

	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
	<meta http-equiv="imagetoolbar" content="no" />
	<link rel="stylesheet" href="css/cssf-base.css" type="text/css" media="screen" />
	<!--[if lte IE 6]><link rel="stylesheet" href="css/cssf-ie6.css" type="text/css" media="screen" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" href="css/cssf-ie7.css" type="text/css" media="screen" /><![endif]-->
	<script type="text/javascript" src="js/iepngfix_tilebg.js"></script>
	<script type="text/javascript" src="js/css_browser_selector.js"></script>
        <a2m:ajax />
</head>
<body>

<!--Header-->
<div id="header2">
  <div class="page_margins">
    <div class="page">
      <div class="headblock">
        <h1 id="logo"><a href="/">Оконная компания WERDAU Эталон. Саратов</a><!--<img id="logo" src="/i/logo.png" width="95" height="100" alt="" />--></h1>
        <div class="quicklinks">
          <a href="#"><img src="/i/icons/home.gif" width="13" height="13" alt="На главную" title="Перейти на главную страницу" /></a>
          <a href="#"><img src="/i/icons/mail.gif" width="13" height="13" alt="Написать нам" title="Написать нам электронное письмо" /></a>
          <a href="#"><img src="/i/icons/favorite.gif" width="13" height="13" alt="В закладки" title="Занести сайт в закладки" /></a>
        </div>
        <a class="werdau" href="#">Werdau — пластиковые окна. Саратов</a>
      </div>
    </div>
  </div>
</div>

<div id="extended">
    <div class="page_margins">
      <div class="page content container">
        <div class="subcolumns">
          <div class="c33l">
            <div class="subcl">
              <ul id="subnav" class="box">
                <li><a href="#">О компании</a>
                </li>
                <li><a href="#">Продукция</a></li>
                <li><a href="#">Статьи</a>
                  <ul>
                    <li><a href="#">Инструкция по эксплуатации и уходу за окнами ПВХ</a></li>
                    <li><a href="#">Демонтаж/монтаж окон ПВХ</a></li>
                    <li><a href="#">Откосы</a></li>
                    <li><a class="active" href="#">Часто задаваемые вопросы</a></li>
                    <li><a href="#">Москитная сетка</a></li>
                    <li><a href="#">Замер</a></li>
                    <li><a href="#">Подготовка помещения к монтажу</a></li>
                  </ul>
                </li>
                <li><a href="#">Контакты</a></li>
              </ul>
              <!-- LAST NEWS BLOCK-->
              <!--<div id="lastnews" class="box">
                <h2>Новости компании</h2>
                <div class="news_item">
                  <p class="link"><span class="date">27.11.2009</span> <a href="#">Осенние скидки, шикарные окна по шикарным ценам!</a></p>
                  <p>Только этой осенью мы предлагаем уникальные скидки новым клиентам компании Werdau. Предожение ограничено!</p>
                </div>
                <div class="news_item">
                  <p class="link"><span class="date">03.11.2009</span> <a href="#">Новый профиль Фаворит</a></p>
                  <p>В семействе профилей пополнение. Встречайте новый качественый профиль Фаворит от немецкой компании Thyssen.</p>
                </div>
                <div class="news_item">
                  <p class="link"><span class="date">21.10.2009</span> <a href="#">Открытие сайта компании Werdau</a></p>
                  <p>Уважаемые клиенты, мы рады представить Вам новый корпоративный сайт компании.</p>
                </div>
                <ul class="menu-h">
                  <li class="allnews"><a href="#">Все новости</a></li>
                  <li><a href="#">Хочу быть вкурсе новостей</a></li>
                </ul>
              </div>--><!-- /LAST NEWS BLOCK-->
              <h3>Кстати:</h3>
              <p>Замерщик выезжает к Вам бесплатно, быстро и качественно произведет необходимые замеры по
              ГОСТу и поможет окончательно определиться с профильной системой.</p>
              <p><a href="#">Узнайте больше о замере</a></p>
            </div>
          </div>
          <div class="c66r" style="border-left:1px dashed #d9cfb2;">
            <div class="subcr">

              <ul id="breadcrumbs" class="menu-h">
                <li><a href="#" class="home">WERDAU</a></li>
                <li>/</li>
                <li><a href="#">Статьи</a></li>
                <li>/</li>
                <li>Часто задаваемые вопросы</li>
              </ul>

              <!-- Insert your subtemplate content here -->
              <h2>Уют начинает с окон Werdau</h2>
              <p>Вы до сих пор смотрите на мир через старые деревянные окна? Вас  постоянно беспокоят сквозняки и уличный шум? Вам до сих пор приходится  каждую осень заклеивать окна? Наконец и у Вас настала пора менять окна.</p>
              <p>Пластиковые окна ПВХ в настоящее время являются идеальным выбором для людей, ценящих экономию, быстрый уход совместно с эстетической красотой.Установка пластиковых окон занимает мало  времени. Поливинилхлорид, которым покрыты оцинкованные стальные  профили, основа оконных рам &ndash; экологически чистый, крепкий материал, не  поддающийся вредному воздействию окружающей среды, не нуждающийся в  специальном уходе.</p>
              <h3>Заголовок 3 уровня</h3>
<p><a href="#">С нашими окнами</a> Вы забудете про покраску оконных рам. Забудете о постоянных сквозняках и осенней герметизации окон, а также пропускающих уличный шум стеклах. Вы, наконец-то, забудете про все это, когда в Вашем доме появятся современные и надежные, крепкие и красивые пластиковые окна ПВХ.Пластиковые окна герметичны, поэтому Вам больше не потребуется дополнительной герметизации на зиму. Наши окна отлично удерживают тепло зимой и не дают проникнуть жаре с улицы летом.</p>
<p>Теплоизоляция &ndash; это еще одно основное достоинство окон ПВХ, которое достигается  благодаря оригинальным двойным или тройным стеклопакетам. Стеклопакет,  несмотря на меньшую по сравнению со старым окном ширину, удерживает  тепло на порядок лучше.</p>
<h4>Заголовок 4 уровня</h4>
              <p>Пластиковые  окна ПВХ, в отличие от старых деревянных окон, могут открываться в трех  плоскостях &ndash; вертикально, горизонтально и по оси. Такая конструкция позволяет устанавливать окна без старомодных форточек, избегая лишних перегородок в оконных рамах. Поэтому наши окна выглядят современно и красиво.Надежная фурнитура и надежный монтаж пластиковых окон гарантируют их эксплуатацию в течение нескольких десятков лет. </p>
<p>Компания &laquo;Эталон Вердау&raquo; предлагает Вам пластиковые окна из профиля &laquo;Тиссен&raquo;. Производством оконных профилей &laquo;Тиссен&raquo; занимается бельгийско-немецкий концерн &laquo;Декенинк-Тиссен Полимер&raquo; - мировой лидер в производстве оконных профилей.</p>
<h5>Заголовок 5 уровня — пример текста с картинкой</h5>
              <p><img src="/i/window1.png" width="194" height="138" alt=""  class="f-left"/>Пластиковые  окна &laquo;Тиссен&raquo; - это пример качества и надежности. Они обладают целым  рядом преимуществ. Окна &laquo;Тиссен&raquo; имеют оптимальные теплоизоляционные  свойства, трехкамерный профиль выдерживает все тепловые нагрузки, как  низкие температуры, так и сильные ветер и солнечное излучение.  Элегантный дизайн, безупречность комплектующих, прочность и  долговечность &ndash; также достоинства пластиковых окон &laquo;Тиссен&raquo;. </p>
              <p>Отлично  адаптированные для России технические характеристики в сочетании с  конкурентноспособной ценой позволяют сказать, что окна &laquo;Тиссен&raquo; -  уникальное и очень заманчивое предложение на российском рынке.</p>

              <table class="full">
                <caption>
                 Таблица №1
                </caption>
                <tr>
                  <td>Строка 1</td>
                  <td>текст</td>
                  <td>90</td>
                  <td>описание </td>
                </tr>
                <tr>
                  <td>Строка 2</td>
                  <td>текст</td>
                  <td>125</td>
                  <td>описание</td>
                </tr>
                <tr>
                  <td>Строка 3</td>
                  <td>текст</td>
                  <td>985</td>
                  <td>описание</td>
                </tr>
                <tr>
                  <td>Строка 4</td>
                  <td>текст</td>
                  <td>50</td>
                  <td>описание</td>
                </tr>
                <tr>
                  <td>Строка 5</td>
                  <td>текст</td>
                  <td>73</td>
                  <td>описание</td>
                </tr>
                <tr>
                  <td>Строка 6</td>
                  <td>текст</td>
                  <td>23</td>
                  <td>описание</td>
                </tr>
                <tr>
                  <td>Строка 7</td>
                  <td>текст</td>
                  <td>78</td>
                  <td>описание</td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="page_margins">
      <div class="page content container">
        <ul class="menu-h">
          <li class="active"><a href="#">Главная страница</a></li>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Продукция</a></li>
          <li><a href="#">Статьи</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Обратная связь</a></li>
        </ul>
        <span class="copyright"><span class="bold">Copyright 2009. WERDAU.</span>  Информация, размещенная на сайте не является публичной офертой</span>
      </div>
    </div>
  </div>


</body>
</html>
