<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
	<title>CSS template</title>

	<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
	<meta http-equiv="imagetoolbar" content="no" />
	<link rel="stylesheet" href="/css/cssf-base.css" type="text/css" media="screen" />
	<!--[if lte IE 6]><link rel="stylesheet" href="/css/cssf-ie6.css" type="text/css" media="screen" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" href="/css/cssf-ie7.css" type="text/css" media="screen" /><![endif]-->
	<script type="text/javascript" src="/js/iepngfix_tilebg.js"></script>
	<script type="text/javascript" src="/js/css_browser_selector.js"></script>
        <a2m:ajax />
</head>
<body>

<!--Header-->
<div id="header">
  <div class="page_margins">
    <div class="page">
      <div class="headblock">
        <h1 id="logo"><a href="/">Оконная компания WERDAU Эталон. Саратов</a><!--<img id="logo" src="/i/logo.png" width="95" height="100" alt="" />--></h1>
        <div class="quicklinks">
          <a href="#"><img src="/i/icons/home.gif" width="13" height="13" alt="На главную" title="Перейти на главную страницу" /></a>
          <a href="#"><img src="/i/icons/mail.gif" width="13" height="13" alt="Написать нам" title="Написать нам электронное письмо" /></a>
          <a href="#"><img src="/i/icons/favorite.gif" width="13" height="13" alt="В закладки" title="Занести сайт в закладки" /></a>
        </div>
        <a2m:navigation />
        <a class="werdau" href="#">Werdau — пластиковые окна. Саратов</a>
      </div>
      <div class="window">&nbsp;</div>
    </div>
  </div>
</div>

<div id="extended">
    <div class="page_margins">
      <div class="page content container">
        
      </div>
    </div>
  </div>

  <div id="actions">
    <div class="page_margins">
      <div class="page content container">
      </div>
    </div>
  </div>



  <div id="footer">
    <div class="page_margins">
      <div class="page content container">
        <ul class="menu-h">
          <li class="active"><a href="#">Главная страница</a></li>
          <li><a href="#">О компании</a></li>
          <li><a href="#">Продукция</a></li>
          <li><a href="#">Статьи</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Обратная связь</a></li>
        </ul>
        <span class="copyright"><span class="bold">Copyright 2009. WERDAU.</span>  Информация, размещенная на сайте не является публичной офертой</span>
      </div>
    </div>
  </div>


</body>
</html>
