<script type="text/javascript" src="/javascripts/admin/html.js">
</script>
<div class="content">
  <div class="subcolumns">
    <div class="c33l">
      <%= bind_pagehtml(@rootpage) %>
    </div>
    <div id="admin_html_wrapper" class="c66r" style="border-left:1px dashed #d9cfb2;">

    </div>
  </div>
</div>